.user-picture img{
  width: 100px;
  height: 100px !important;
  object-fit: cover;
}


/*resize header to fit and cover, prevent overflow on view-header*/
.view-display-id-store_title_logo_header img{
  width: 100%;
  height: 110px;
  object-fit: cover;

}

.view-display-id-store_title_logo_header {
  position: relative;
  /*text-align: center;*/
}

.view-header{
  overflow: hidden;
}
.recenter-title-over-header{
  position: absolute;;
  top: 0;
  margin: 5%;
  font-size: 3em;
  color: white;
}

/*///for user request page//*/
.view-display-id-user_display_name_block .views-field-field-first-name, .view-display-id-user_display_name_block .views-field-field-last-name{
 font-size: 3em;
}

.view-display-id-user_display_name_block .user-picture{
  display: inline-block;
 }

.view-display-id-user_display_name_block img{
  border-radius: 50%;
}

/*list thumbnail settings*/
.list-thumbnail .user-picture{
  width: 40px;
}
.list-thumbnail img{
  border-radius: 100%;
  width: 40px;
  height: 40px !important;
}


.teaser-date{
  font-size: 22px;
}

.teaser-picture{
  padding: 0;
}

.teaser-picture .user-picture{
  max-width: 100%
}
.teaser-picture .user-picture img{
  border-radius: 100%;
  height: 76px !important;
  width: 76px !important;
}
/*table settings*/
.requests table,.requests table *,.requests table tr,.requests table td{
  border: none !important;
  background: white;
}
.requests .views-table  thead{
  display: none !important
}
.requests td{
  border-bottom: 1px solid black;
}


.list-thumbnail .user-picture{
  position: relative;
}
/*align dates vertically in table*/
 .views-field-field-time a{
   line-height: 1.25em;
   font-size: 1.25em;
 }
 .views-field-field-time-2 a{
   line-height: 1.25em;
   font-size: 1.25em;
 }
/*hide geofield controls*/
 #views-exposed-form-requests-page-1 input.geofield-proximity-origin, #views-exposed-form-requests-page-1 .geofield-proximity-origin-from, #views-exposed-form-requests-page-1 .form-item-field-geofield-distance-unit{
   display: none;
 }
 #views-exposed-form-requests-page-1 .views-widget{
   width: 95px;
 }
 #views-exposed-form-requests-page-1 .views-widget:before{
   /*content: "change default settings on user page";*/
 }
/*repeat*/
  input.geofield-proximity-origin,  .geofield-proximity-origin-from,  .form-item-field-geofield-distance-unit{
   display: none;
 }
  .views-widget{
   width: 95px;
 }
  .views-widget:before{
   /*content: "change default settings on user page";*/
 }


/*shoutbox body mods*/
#shoutbox-body{
  font-family: 'Open Sans';
  background: white;
}
#shoutbox-body .shoutbox-user-name a{
  color: #E74C3C;
}
input#edit-nick{
  width: 214px !important;
}
#shoutbox-add-form .form-submit{
  width: 100%;
  float: left !important;
}
/*shift request alters*/
.field-name-field-poster-home-store-coordina{
  display: none;
}
/*bide widgets*/
.node-shift_request-form .vertical-tabs{
  display: none;
}
/*user picture override in user header for requests by user*/
.view-display-id-user_display_name_block .user-picture{
  max-width: none;
}

#header{
  background: url('/sites/all/modules/custom_css/img/HABOheader.png');
  background-size: 100%;
  background-position-y: 60%;
}
#site-name a{
  color: white !important;
  font-size: 6em !important;
  text-shadow: 0px 0px 54px rgba(0, 0, 0, 0.5);
}

.requests .views-field-new-comments{
  font-weight: bold;
}

/*get rid of whte background on front page*/
.front #content-wrapper{
  background: transparent;
  border: none;
}

/*comment user picture*/
.comment .user-picture{
  max-width: 100%
}
.comment .user-picture img{
  border-radius: 100%;
  height: 76px !important;
  width: 76px !important;
}
.comment h3{
  display: none;
}

/*menu styles*/
#main-navigation{
  background: #444 !important;
  text-transform: uppercase;
}
#main-navigation .level-2{
  text-transform: none;
}
.tb-megamenu{
  background: inherit !important;
}
.tb-megamenu-nav li:last-of-type a{
  color: #e54e4b !important;
}

/*friends requests view alter*/
.sticky-table .user-picture{
  max-width: none;
}
.sticky-table .user-picture img{
  border-radius: 100%;
}

.profile .user-picture{
  max-width: none;
}
.profile .user-picture img{
  border-radius: 100%;
}
body.front .page-title{
  display: none;
}
