.hidden-geofield{
  display: none;
}
.balloon img:nth-of-type(n+2){
  display: none;
}
h6:nth-of-type(n+2){
  display: none;
}
h6:nth-of-type(n+2) + br{
  display: none;
}
.balloon-field-from + br{
  display: none;
}
.balloon{
  text-align: center;
}
input.geofield-proximity-origin{
  display: none;
}
